# Dependencies
**/node_modules/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Frontend build output
**/dist/

# Logs
*.log
npm-debug.log*

# macOS files
.DS_Store

# VS Code settings
.vscode/